<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>Teacher Compose</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type = "text/javascript" >
  function preventBack()
   {
        console.log("runs")
       window.history.forward(); }
 
 setTimeout("preventBack()", 0);
 window.onunload = function () { null };
    </script>   

<style>
  .li:hover {
    background-color: aquamarine;
  }
  </style>  
  
  <body class="body-color" style="background-color:antiquewhite">
  

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px; background-color: gray; ">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
       
          <li class="nav-item" style="margin-right: 160px;">
            <a class="nav-link active" href="#"><b> TEACHER COMPOSE </b></a>
          </li>
    
          <li class="nav-item" >
            <a class="nav-link active li" href="/getTeacherComplains" style="color:indigo;"><b> HOME</b></a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link active" href="/suggestionTch" style="color:indigo;"><b>SUGGESTIONS</b></a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link active li" href="/showStdComplain"style="color:indigo;"><b>COLLEGE COMPLAINS</b></a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link active li" href="/composeTch" style="color:indigo;"><b>COMPOSE</b></a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link active li" href="/logout" style="color:indigo;"><b>LOGOUT</b></a>
         
    
    </ul>
        
      </div>
    </nav>
     
    <div class="container">

<form  id='myform' method="post" action ="/composeTch">
    <!-- <h5>Name</h5>
    <input type="text" class="form-control" name="postName" maxlength="30" placeholder="Teacher Name"  required>
  <br> -->
<h5>Title</h5>
<input type="text" class="form-control" name="postTitle" required ><br>

<select name="branch" id="">
  
  <option value="All">ALL</option>
    <option value="CSE">CSE</option>
    <option value="ME">ME</option>
    <option value="IT">IT</option>
    <option value="CIVIL">CIVIL</option>
    <option value="EE">EE</option>
    <option value="EC">EC</option>
  </select>
  
<select name="year" id="" style="margin-left: 30px" >
  
   <option value="ALL">ALL</option>
    <option value="1">1 st year</option>
    <option value="2">2 nd year</option>
    <option value="3">3 rd year</option>
    <option value="4">4 th year</option>
  </select>

<select name="section" id="" style="margin-left: 30px" required>
   <option value="ALL">ALL</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
  </select>
<br><br>
<h5>Complain/Suggestion</h5>
<textarea  rows="3" cols="50"  class="form-control" name="postContent" required></textarea><br>

<input type="radio" name="complain" value="suggestion" required>
  <label for="1">Suggestion</label><br>
<input type="radio" name="complain" value="complain" required>
  <label for="2">Complain</label><br>

<button type="submit" class="btn btn-primary">Proced</button>
</form>
</div>
</body>
</html>
