<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Update Password</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<script type = "text/javascript" >
  function preventBack()
    window.history.forward(); 
 
 setTimeout("preventBack()", 0);
 window.onunload = function () { null };
    </script>   
 
<body style="background-color: #E8ECEF;">
	<div class="container mt-5">
  <h2>UPDATE PASSWORD</h2>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body" >
          <form action="/UpdatePassword" method="POST" id="myform">
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" class="form-control" name="new_password" required>
            </div>
            
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" required>
              </div>

              <div style="color: red;">
                <%if (error) { %>
                  <p><%= msg %></p>
              <% } %>
              </div>
              
            <button type="submit" class="btn btn-dark">Update Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
var frm = document.getElementById('myform');

if (frm.email.type === 'text') {
    frm.onsubmit = function () {
        if (/\s/.test(frm.email.value))
            return false;
    }
}
</script>
</body>
</html>

